<!--
<mat-grid-list [cols]="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-grid-tile-header>Overview</mat-grid-tile-header>


  </mat-grid-tile>

</mat-grid-list>
-->


<div>
  <br>
  <div class="container">
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" style="width: 1100px">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Overview</h3>
          </mat-card-title>
          <mat-card-content>
            <p class="lead font-italic">Aggregated OpenAPI services in your cluster</p>

            <br/>
            <br/>

            <h2 class="display-5" id="namespace">Namespace: {{namespace$ | async}}</h2>

            <h3 class="display-5">Endpoints with ingresses</h3>
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-left">Service name</th>
                <th scope="col" class="text-left">Links</th>
                <th scope="col" class="text-left">Path</th>
                <th scope="col" class="text-left">Operations</th>
              </tr>
              </thead>
              <tbody id="ingressedServices">
              <tr *ngFor="let service of ingressedServices$ | async">
                <td class="lead text-left">{{service.name}}</td>
                <td class="lead text-left">
                  <a *ngIf="service.openapiUrl == null" target="_blank" href="{{service.openapiUrl}}">OpenAPI</a>
                  <a *ngIf="service.openapiUiUrl == null" target="_blank" href="{{service.openapiUiUrl}}">| UI</a>
                </td>
                <td class="lead text-left">{{service.path}}</td>
                <td class="lead text-left">
                  <div *ngFor="let operation of service.operations">
                    <button type="button" class="btn {{renderOperation(operation)}} mr-1" aria-disabled="true"
                            disabled>{{operation}}</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <h3 class="display-5">Endpoints without ingresses</h3>
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col" class="text-left">Service name</th>
                <th scope="col" class="text-left">Links</th>
                <th scope="col" class="text-left">Path</th>
                <th scope="col" class="text-left">Operations</th>
              </tr>
              </thead>
              <tbody id="nonIngressedServices">
              <tr *ngFor="let service of nonIngressedServices$ | async">
                <td class="lead text-left">{{service.name}}</td>
                <td class="lead text-left"><a *ngIf="service.openapiUrl == null"
                                              href="{{service.openapiUrl}}">OpenAPI</a>
                  <a *ngIf="service.openapiUiUrl == null" href="{{service.openapiUiUrl}}">| UI</a>
                </td>
                <td class="lead text-left">{{service.path}}</td>
                <td class="lead text-left">
                  <div *ngFor="let operation of service.operations">
                    <button mat-raised-button [color]="renderOperation(operation)" disabled>{{operation}}</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

